<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>For loop Ex</title>
  </head>
  <body>
    <!-- 문법 삽입 시에는 <% %> -->
    <% for(i = 0; i < 10; i++) { %>
    <!-- 변수 삽입 시에는 <%= %> -->
    <h1>Practicing tags x <%= i+1 %></h1>  
    <% } %>
  </body>
</html>
