<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>If condition Ex</title>
  </head>
  <body>
    <%
      for(i = 0; i < 10; i++) {
        if(i % 2 == 0) {
    %>
    <h1>Practicing tags x <%= i%></h1>
    <%
        }
      }
    %>
  </body>
</html>