<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <style>
      body {
        grid-template-rows: auto 1fr;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Home</h1>
    </header>
    <main class="container">
      <h2>Welcome</h2>
      <p>
        <a href="/logout" class="button">Log out</a>
      </p>
    </main>
  </body>
</html>
